@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Service Auto</h1>
    <p>Va asteptam la cel mai bun Service Auto din Cluj Napoca</p>
</div>
